// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

#date_interval{
    display: flex;
    align-content: center;
    align-items: center;
}
#date_interval p{
    margin-bottom: 0px;
    padding: 10px;
    font-size: 20px;
}


#datepicker_end,#datepicker_start{
    width: 15%;
   
}

#selects_container{
    width: 100%;
    display: flex;
}

#buttons_container{
    align-self: center;
}
#buttons_container button{
    margin: 5px;
}

#buttons_container button i{
    font-size: 16px;
}

#actions_buttons_container{
    display: flex;
    align-content: center;
    flex-direction: column;
}
#actions_buttons_container button{
  margin: 5px;
}

#pie_chart_container{
    margin-top: 15px;
}

#bar_chart_container{
    margin-top: 45px;
    width: 100%;
    height: 400px;
    position: relative;
}

#realatorio_table{
    margin-top: 15px;
}

#realatorio_table td,#realatorio_table th{
    min-width: 130px !important;
}


  
  .datepicker td, .datepicker th {
    padding: 1px;
    width: 60px !important;
  }

  .loading{
    margin-top: 20px;
    width: 100%; 
    display:flex;
    flex-direction: column;
  }

  .loading div{
   align-self: center;
  } 

  .overlay {
    position: fixed;
    z-index: 9999;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .overlay .d-flex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@media (max-width: 992px) {
    #selects_container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #button_select,#button_desselect{
        transform: rotate(90deg);
    }

    #datepicker_end,#datepicker_start{
        width: 30%;
        size: 5;
       
    }

    .datepicker {
        font-size: 16px;
      }

}